In [68]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model, metrics
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor  # Use RandomForestClassifier if your target is categorical
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [2]:
#import data

batting_df = pd.read_csv("../Data/teams_batting_00-24.csv").drop("Unnamed: 0",axis=1)
batting_df =batting_df[batting_df["Tm"]!="League Average"]
batting_df.tail()

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,Years
769,St. Louis Cardinals,44,27.6,4.15,162,6114,5507,672,1363,257,...,0.703,96,2157,91,56,17,47,10,1149,2024
770,Tampa Bay Rays,54,27.2,3.73,162,6006,5389,604,1241,245,...,0.669,92,1973,87,78,10,32,15,1099,2024
771,Texas Rangers,57,28.1,4.22,162,6053,5472,683,1302,220,...,0.686,96,2080,96,55,6,30,20,1084,2024
772,Toronto Blue Jays,56,28.1,4.14,162,6060,5410,671,1306,280,...,0.703,100,2106,126,78,14,45,18,1106,2024
773,Washington Nationals,50,26.3,4.07,162,5971,5374,660,1306,267,...,0.684,94,2014,115,73,26,40,11,1010,2024

In [3]:
batting_df.columns

Index(['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+',
       'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB', 'Years'],
      dtype='object')

In [4]:
batting_df.dtypes

Tm         object
#Bat        int64
BatAge    float64
R/G       float64
G           int64
PA          int64
AB          int64
R           int64
H           int64
2B          int64
3B          int64
HR          int64
RBI         int64
SB          int64
CS          int64
BB          int64
SO          int64
BA        float64
OBP       float64
SLG       float64
OPS       float64
OPS+        int64
TB          int64
GDP         int64
HBP         int64
SH          int64
SF          int64
IBB         int64
LOB         int64
Years       int64
dtype: object

In [5]:
#We extrat the desired variables
y=batting_df["R"]
x = batting_df[batting_df.columns[9:12].append(batting_df.columns[13:-1])]
x.head()

,2B,3B,HR,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,309,34,236,93,52,608,1024,0.280,0.352,0.472,0.825,105,2659,126,47,47,43,43,1173
1,282,44,179,97,44,535,975,0.265,0.333,0.429,0.763,88,2373,114,59,61,58,37,1128
2,274,26,179,148,56,595,1010,0.271,0.346,0.429,0.775,95,2353,127,59,87,45,38,1192
3,310,22,184,126,65,558,900,0.272,0.341,0.435,0.776,100,2414,148,49,27,54,34,1129
4,316,32,167,43,30,611,1019,0.267,0.341,0.423,0.764,90,2384,115,42,40,48,40,1226

In [6]:
X_train, X_test,y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [7]:
#We create the model

reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [8]:
# regression coefficients
print('Coefficients: ', reg.coef_)

# variance score: 1 means perfect prediction
print('Variance score: {}'.format(reg.score(X_test, y_test)))

Coefficients:  [-8.86464170e-01 -1.83526823e+00 -2.52603132e+00  5.68640973e-02
 -1.15612427e+00  8.79829474e-01  2.29049692e-04  9.84356260e+01
 -2.13552741e+03 -1.82841300e+03  2.02841194e+03 -2.23375402e-01
  8.77164546e-01 -9.36174196e-01  9.34071186e-01 -1.68637109e-02
  2.30539665e-01 -9.94073261e-02 -8.02585112e-01]
Variance score: 0.9896892882194526

In [9]:
results_dict = {"Variable": x.columns,
               "Coeficiente":reg.coef_}
results_df = pd.DataFrame(results_dict)
results_df

   Variable  Coeficiente
0        2B    -0.886464
1        3B    -1.835268
2        HR    -2.526031
3        SB     0.056864
4        CS    -1.156124
5        BB     0.879829
6        SO     0.000229
7        BA    98.435626
8       OBP -2135.527410
9       SLG -1828.413000
10      OPS  2028.411937
11     OPS+    -0.223375
12       TB     0.877165
13      GDP    -0.936174
14      HBP     0.934071
15       SH    -0.016864
16       SF     0.230540
17      IBB    -0.099407
18      LOB    -0.802585

In [10]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

y_pred=reg.predict(X_test)
mean_absolute_percentage_error(y_test, y_pred)

1.4185945093113925

In [11]:
X_train, X_test,y_train, y_test = train_test_split(batting_df[["OBP"]], y, test_size=0.4, random_state=1)

#We create the model

reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

# regression coefficients
print('Coefficients: ', reg.coef_)

# variance score: 1 means perfect prediction
print('Variance score: {}'.format(reg.score(X_test, y_test)))

Coefficients:  [5274.2228953]
Variance score: 0.27532859763738615

In [12]:
y_pred=reg.predict(X_test)
mean_absolute_percentage_error(y_test, y_pred)

10.99431226023872

## Random Forest

In [13]:
advance_df = pd.read_csv("Advanced_batting.csv")
advance_df.head()

   Unnamed: 0 Team  W rate  K rate  BABIP   wOBA  Year
0           0  SFG   0.110   0.161  0.303  0.359  2000
1           1  CLE   0.105   0.162  0.318  0.364  2000
2           2  OAK   0.117   0.180  0.300  0.356  2000
3           3  SEA   0.120   0.167  0.299  0.352  2000
4           4  ANA   0.095   0.161  0.303  0.356  2000

In [32]:
batting_df.head()

,Team,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,Year
0,ANA,45,27.6,5.33,162,6373,5628,864,1574,309,...,0.825,105,2659,126,47,47,43,43,1173,2000
1,ARI,41,30.8,4.89,162,6241,5527,792,1466,282,...,0.763,88,2373,114,59,61,58,37,1128,2000
2,ATL,47,30.8,5.00,162,6275,5489,810,1490,274,...,0.775,95,2353,127,59,87,45,38,1192,2000
3,BAL,50,32.1,4.90,162,6238,5549,794,1508,310,...,0.776,100,2414,148,49,27,54,34,1129,2000
4,BOS,52,29.3,4.89,162,6371,5630,792,1503,316,...,0.764,90,2384,115,42,40,48,40,1226,2000

In [14]:
batting_df.rename(columns={"Tm":"Team",
                          "Years":"Year"}, inplace = True)

batting_df.columns

Index(['Team', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+',
       'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB', 'Year'],
      dtype='object')

In [25]:
batting_df["Team"].value_counts().index

Index(['MIL', 'STL', 'SEA', 'SDP', 'PIT', 'PHI', 'OAK', 'NYY', 'NYM', 'ARI',
       'MIN', 'TEX', 'LAD', 'KCR', 'HOU', 'TOR', 'DET', 'COL', 'CLE', 'CIN',
       'CHW', 'CHC', 'BOS', 'BAL', 'ATL', 'SFG', 'WSN', 'TBR', 'ANA', 'MIA',
       'FLA', 'Los Angeles Angels', 'Tampa Bay Devil Rays', 'MON'],
      dtype='object', name='Team')

In [26]:
advance_df["Team"].value_counts().index

Index(['SFG', 'TEX', 'MIL', 'COL', 'PHI', 'MIN', 'ARI', 'CHC', 'KCR', 'PIT',
       'SDP', 'CLE', 'CIN', 'ATL', 'BOS', 'BAL', 'LAD', 'DET', 'TOR', 'NYY',
       'STL', 'HOU', 'NYM', 'CHW', 'SEA', 'OAK', 'WSN', 'LAA', 'FLA', 'TBD',
       'TBR', 'MIA', 'ANA', 'MON'],
      dtype='object', name='Team')

In [27]:
teams_dictionary={'New York Mets':'NYM',
                 'Los Angeles Dodgers':'LAD',
                 'Toronto Blue Jays':'TOR',
                 'Texas Rangers':'TEX',
                 'St. Louis Cardinals':'STL',
                 'San Francisco Giants':'SFG',
                 'Seattle Mariners':'SEA',
                 'San Diego Padres':'SDP',
                 'Pittsburgh Pirates':'PIT',
                 'Philadelphia Phillies':'PHI',
                 'Oakland Athletics':'OAK',
                 'New York Yankees':'NYY',
                 'Arizona Diamondbacks':'ARI',
                 'Milwaukee Brewers':'MIL',
                 'Minnesota Twins':'MIN',
                 'Kansas City Royals':'KCR',
                 'Cincinnati Reds':'CIN',
                 'Atlanta Braves':'ATL',
                 'Baltimore Orioles':'BAL',
                 'Boston Red Sox':'BOS',
                 'Chicago Cubs':'CHC',
                 'Chicago White Sox':'CHW',
                 'Colorado Rockies':'COL',
                 'Detroit Tigers':'DET',
                 'Houston Astros':'HOU',
                 'Cleveland Indians':'CLE',
                 'Washington Nationals':'WSN',
                 'Tampa Bay Rays':'TBR',
                 'Miami Marlins':'MIA',
                 'Florida Marlins':'FLA',
                 'Los Angeles Angels of Anaheim':'ANA',
                 'Anaheim Angels':'ANA',
                 'Montreal Expos':'MON',
                 'Cleveland Guardians':'CLE',
                 'Los Angeles Angels':'LAA',
                 'Tampa Bay Devil Rays':'TBD'}

batting_df["Team"] = batting_df["Team"].replace(teams_dictionary)

In [57]:
merged_df = pd.merge(batting_df, advance_df, on=["Team","Year"], how="inner")
merged_df

,Team,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SH,SF,IBB,LOB,Year,Unnamed: 0,W rate,K rate,BABIP,wOBA
0,ANA,45,27.6,5.33,162,6373,5628,864,1574,309,...,47,43,43,1173,2000,4,0.095,0.161,0.303,0.356
1,ARI,41,30.8,4.89,162,6241,5527,792,1466,282,...,61,58,37,1128,2000,23,0.086,0.156,0.290,0.332
2,ATL,47,30.8,5.00,162,6275,5489,810,1490,274,...,87,45,38,1192,2000,15,0.095,0.161,0.302,0.339
3,BAL,50,32.1,4.90,162,6238,5549,794,1508,310,...,27,54,34,1129,2000,13,0.089,0.144,0.293,0.338
4,BOS,52,29.3,4.89,162,6371,5630,792,1503,316,...,40,48,40,1226,2000,17,0.096,0.160,0.297,0.334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,STL,44,27.6,4.15,162,6114,5507,672,1363,257,...,17,47,10,1149,2024,347,0.078,0.216,0.294,0.307
350,TBR,54,27.2,3.73,162,6006,5389,604,1241,245,...,10,32,15,1099,2024,352,0.082,0.247,0.289,0.294
351,TEX,57,28.1,4.22,162,6053,5472,683,1302,220,...,6,30,20,1084,2024,351,0.081,0.212,0.279,0.300
352,TOR,56,28.1,4.14,162,6060,5410,671,1306,280,...,14,45,18,1106,2024,342,0.084,0.203,0.283,0.307
353,WSN,50,26.3,4.07,162,5971,5374,660,1306,267,...,26,40,11,1010,2024,353,0.076,0.204,0.288,0.300

In [59]:
model_df = merged_df[["Team", "R", "HR", "OBP","SLG","SB","RBI","BA","W rate", "K rate", "BABIP","wOBA"]]

In [61]:
model_df["ISO"] = model_df["SLG"] - model_df["BA"]
model_df

C:\Users\PC\AppData\Local\Temp\ipykernel_62836\719748194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df["iso"] = model_df["SLG"] - model_df["BA"]

,Team,R,HR,OBP,SLG,SB,RBI,BA,W rate,K rate,BABIP,wOBA,iso
0,ANA,864,236,0.352,0.472,93,837,0.280,0.095,0.161,0.303,0.356,0.192
1,ARI,792,179,0.333,0.429,97,756,0.265,0.086,0.156,0.290,0.332,0.164
2,ATL,810,179,0.346,0.429,148,758,0.271,0.095,0.161,0.302,0.339,0.158
3,BAL,794,184,0.341,0.435,126,750,0.272,0.089,0.144,0.293,0.338,0.163
4,BOS,792,167,0.341,0.423,43,755,0.267,0.096,0.160,0.297,0.334,0.156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,STL,672,165,0.312,0.392,91,639,0.248,0.078,0.216,0.294,0.307,0.144
350,TBR,604,147,0.302,0.366,178,564,0.230,0.082,0.247,0.289,0.294,0.136
351,TEX,683,176,0.305,0.380,97,652,0.238,0.081,0.212,0.279,0.300,0.142
352,TOR,671,156,0.313,0.389,72,640,0.241,0.084,0.203,0.283,0.307,0.148
353,WSN,660,135,0.309,0.375,223,621,0.243,0.076,0.204,0.288,0.300,0.132

In [82]:
# Define the target column. Replace 'Runs' with your actual target column.
target_column = 'R'

# Prepare the features by dropping columns that you don't want to include.
# Here we drop 'Team' (an identifier) and the target column from the features.
features = model_df.drop(columns=['Team', target_column,"RBI"])
target = model_df[target_column]

In [83]:
# Split the data into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Create the Random Forest model.
# For a regression task, we use RandomForestRegressor.
# (If you have a classification task, use RandomForestClassifier instead.)
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions on the test set.
y_pred = rf_model.predict(X_test)

# Evaluate the model. Here, we calculate the Mean Squared Error (MSE).
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error on test set:", mse)
mape = mean_absolute_percentage_error(y_test, y_pred)
print("Mean Squared Error on test set:", mape)

# Optionally, display feature importances:
importances = rf_model.feature_importances_
feature_names = features.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances})
print(feature_importance_df.sort_values(by='Importance', ascending=False))

Mean Squared Error on test set: 645.0219267605636
Mean Squared Error on test set: 0.026725271542784753
  Feature  Importance
8    wOBA    0.698532
2     SLG    0.212930
1     OBP    0.020106
5  W rate    0.012136
3      SB    0.011665
6  K rate    0.010248
9     iso    0.009863
4      BA    0.009052
7   BABIP    0.008363
0      HR    0.007105